@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Rock+Salt&display=swap");

:root {
  --color-1: #a99a45ff;
  --color-2: #f95e4eff;
  --color-3: #b6b6aeff;
  --color-4: #7e2412ff;
  --font-1: "Rock Salt", cursive;
  --font-2: "Raleway", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background-color: var(--color-3);
  overflow-x: hidden;
  text-align: center;
  width: 100%;
  position: relative;
}

.main-container {
  max-width: 1700px;
  margin: 0 auto;
}

#back-to-top {
  position: absolute;
  top: 150vh;
  right: 60px;
  bottom: 40px;
  width: 3em;
  pointer-events: none;
  z-index: 10;
}

#back-to-top a {
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 5rem);
}

/* Menu */

header {
  width: 100%;
}

nav input,
nav label {
  display: none;
}

nav span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: black;
  position: relative;
}

nav span::before,
nav span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: black;
}

nav span::before {
  top: -6px;
}

nav span::after {
  top: 3px;
}

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-1);
  height: 70px;
  align-items: center;
  font-family: var(--font-2);
  font-weight: bolder;
  width: 100%;
}

#menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#menu li {
  margin: 0 20px;
  transition: transform 300ms ease-in-out;
}

#menu a {
  text-decoration: none;
  color: #000;
}

#menu li:hover {
  transform: scale(1.1) rotate(5deg);
}

#logo {
  margin-left: 30px;
  font-family: var(--font-1);
  text-decoration: none;
  font-size: xx-large;
}

.active {
  border-bottom: 1px solid black;
}

/* hero */

#hero-section {
  width: 100%;
  height: 50em;
  overflow: hidden;
  position: relative;
}

#hero-image {
  background: url("../images/hero.jpg") no-repeat center center/cover;
  width: 100%;
  height: 50em;

  animation-name: hero-move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 0;
}

@keyframes hero-move {
  from {
    background-position: center top;
  }
  to {
    background-position: center center;
  }
}

#hero-text {
  font-size: 130%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  width: 40%;
  height: 13em;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(0, 0, 0, 0.5);

  top: 40px;
  right: 150px;
  border-radius: 10px;
  position: absolute;
  animation-name: hero-text-appear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#hero-text h2 {
  font-family: var(--font-1);
  color: var(--color-1);
}

#hero-text h3 {
  font-family: var(--font-2);
}

.glow-button {
  margin: 40px;
  color: white;
  font-size: 200%;
  animation-name: glowing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes glowing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hero-text-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Hero section for tour page */

#tour-hero {
  width: 100%;
  height: 40em;
  overflow: hidden;
  position: relative;
}

#tour-hero-image {
  background: url("../images/hero2.jpg") no-repeat center center/cover;
  width: 100%;
  height: 40em;

  animation-name: hero-move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 0;
}

#tour-hero-text {
  font-size: 130%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  width: 40%;
  height: 13em;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(0, 0, 0, 0.5);

  top: 50px;
  left: 150px;
  border-radius: 10px;
  position: absolute;
  animation-name: hero-text-appear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#tour-hero-text h2 {
  font-family: var(--font-1);
}

#tour-hero-text h3 {
  font-family: var(--font-2);
}

/* About us section */

#about-section {
  width: 100%;
  /* height: 50em; */
  /* overflow: hidden; */
  /* position: relative; */
  margin: 10px;
  padding-top: 15px;
}

#about-section h2 {
  text-align: center;
  font-size: 200%;
  text-transform: uppercase;
  font-family: var(--font-1);
  color: whitesmoke;
}

#about-section img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.36);
}

.about-container {
  padding: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.left-about {
  width: 33%;
}

.right-about {
  width: 66%;
  text-align: center;
  line-height: 2;
  font-family: var(--font-2);
}

.right-about div h3 {
  font-size: 150%;
  text-transform: uppercase;
}

.right-about div {
  width: 90%;
  margin: 7% auto;
  transition: all 0.5s ease-in-out;
}

.right-about div:hover {
  transform: scale(1.05);
  background-color: rgba(7, 0, 0, 0.1);
  border-radius: 10px;
}

/* Teachers */

#teachers {
  text-align: center;
  width: 100%;
  /* margin: 10px; */
  padding-top: 15px;
}

#teachers h2 {
  font-size: 250%;
  margin: 30px;
  font-family: var(--font-1);
  color: #fff;
}

.teacher-card {
  display: inline-block;
  width: 22%;
  position: relative;
  background-color: var(--color-1);
  text-align: center;
  border-radius: 10px;
  font-family: var(--font-2);
  color: #000;
  margin-bottom: 100px;
  border: 1px solid white;
  box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.36);
}

.teacher-card p {
  margin: 10px;
}
#teacher1 {
  transform: rotate(-30deg) translateY(20%) translateX(30%);
  z-index: 3;
  transition: all 1000ms ease-in-out;
}

#teacher2 {
  z-index: 2;
  transition: all 1000ms ease-in-out;
}

#teacher3 {
  transform: rotate(30deg) translateY(20%) translateX(-30%);
  z-index: 1;
  transition: all 1000ms ease-in-out;
}

.teacher-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

#teacher1:hover,
#teacher2:hover,
#teacher3:hover {
  z-index: 999;
  transform: rotate(0deg) scale(1.1);
  margin: 0 15%;
}

/* Flashcards */

#flashcards {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

#flashcards h2 {
  font-family: var(--font-1);
  font-size: 200%;
  color: #fff;
}

#flashcard-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.two-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.flashcard {
  width: 35%;
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.flashcard-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.36);
  transform: scale(0, 0);
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
}

.flashcard-content h3 {
  font-size: 250%;
  margin-top: 25%;
  margin-bottom: 10px;
  font-family: var(--font-2);
  color: white;
}

.flashcard:hover {
  transform: scale(1.1);
}

.flashcard:hover .flashcard-content {
  transform: scale(1, 1);
}

.flashcard img {
  width: 100%;
  border-radius: 20px;
}

.flashcard audio {
  width: 80%;
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}

/* Footer */

footer {
  height: 10em;
  background-color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  /* margin-top: 40px; */
}

footer p {
  color: white;
}

.social-networks {
  display: flex;
  list-style: none;
}

.social-networks li {
  display: block;
  position: relative;
  font-size: 230%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin: 0 20px;
}

.social-networks a {
  color: white;
}

.social-networks i {
  transition: all 200ms ease-in-out;
}

.social-networks i:hover {
  color: white;
  transform: scale(1.2) rotate(4deg);
}

/* Tour page styles */

.tour-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tour-page-container h3 {
  font-size: 150%;
  margin: 5px 0;
  font-family: var(--font-2);
}
.text-tour {
  text-align: center;
  width: 50%;
  margin: 5px auto;
  padding: 5px;
}
.tour-page-container p {
  line-height: 2;
  font-family: var(--font-2);
  letter-spacing: 1px;
}

.tour-page-heading {
  font-family: var(--font-1);
  color: white;
  font-size: 200%;
  margin: 40px 0;
}

.tour-page-container img {
  width: 50%;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.36);
}

#art-zone {
    margin-bottom: 40px;
}

/* Form page styles */

#contact-form-section {
  background-image: url("../images/form-page-background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 100%;
  height: calc(100vh - 70px - 10em);
  position: relative;
}

#contact-form-section form {
  position: absolute;
  left: 300px;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-family: var(--font-2);
}

#contact-form-section h2,
#contact-form-section h3 {
  font-size: 200%;
}

.input-field {
  position: relative;
  width: 20rem;
  height: 3rem;
  margin: 1rem 0;
}

.input-field input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  color: white;
  outline: none;
  background: none;
  padding: 1.25rem;
  border-radius: 5px;
  font-size: 120%;
  font-family: var(--font-2);
}

.input-field input:hover {
  border-color: rgb(200, 200, 200);
}

.input-field input:focus {
  border-color: rgb(200, 200, 200);
}

.input-field label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: white;
  transition: top 200ms ease-in, left 200ms ease-in,
    background-color 200ms ease-in;
  background: inherit;
  border-radius: 5px;
}

.input-field input:focus ~ label,
.input-field input:not(:placeholder-shown) ~ label {
  top: -0.5rem;
  /* font-size: 0.8rem; */
  left: 0.8rem;
  /* z-index: 999; */
  background-color: var(--color-1);
}

.checkbox-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20rem;
}

.checkbox {
  text-align: left;
  width: 15rem;
  height: 2rem;
  margin: 1rem 0 0 0;
  position: relative;
}

input[type="radio"] {
  display: none;
}

.checkbox label {
  padding-left: 25px;
  transition: all 200ms ease-in-out;
}

.checkbox label::before {
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: 2px solid white;
  position: absolute;
  left: 0;
  top: 0px;
  content: "";
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.checkbox label::after {
  width: 10px;
  height: 10px;
  background-color: var(--color-1);
  position: absolute;
  left: 5px;
  top: 5px;
  content: "";
  border-radius: 50%;
  transform: scale(0, 0);
  transition: transform 200ms ease-in-out;
}

.checkbox input[type="radio"]:checked ~ label::after {
  transform: scale(1, 1);
}

.checkbox input[type="radio"]:checked ~ label::before {
  border-color: var(--color-1);
  box-shadow: 0 0 4px 1px var(--color-1);
}

.checkbox input[type="radio"]:checked ~ label {
  color: var(--color-1);
  font-size: 160%;
}

.checkbox:hover label::before {
  border-color: rgb(200, 200, 200);
}

input[type="submit"] {
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 120%;
  margin-top: 10px;
  transition: all 200ms ease-in-out;
}

input[type="submit"]:hover {
  border-color: rgb(200, 200, 200);
  background-color: var(--color-1);
  /* color: rgb(200, 200, 200); */
}

@media screen and (max-width: 1470px) {
  .left-about {
    width: 40%;
  }

  .right-about {
    width: 60%;

    line-height: 1.5;
  }

  #flashcard-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .left-about {
    width: 50%;
  }

  .right-about {
    width: 50%;
    line-height: 1.5;
  }

  #hero-text {
    font-size: 90%;
    width: 50%;
    height: 15em;

    padding-top: 40px;
    padding-left: 10px;
  }

  #tour-hero-text {
    font-size: 90%;
    width: 50%;
    height: 15em;

    padding-top: 40px;
    padding-left: 10px;
  }

  .tour-page-container {
    flex-direction: column;
  }

  .text-tour {
    width: 90%;
  }
  .tour-page-container p {
    line-height: 1.5;
  }

  .tour-page-heading {
    margin: 30px 0;
  }

  .tour-page-container img {
    width: 90%;
    margin: 0;
  }
}

@media screen and (max-width: 1080px) {
  .about-container {
    flex-direction: column-reverse;
  }
  .left-about {
    width: 100%;
  }

  .right-about {
    width: 100%;
    line-height: 1.5;
  }

  #contact-form-section {
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  #contact-form-section form {
    position: static;    
    display: flex;
    
    align-self: center;
    height: 90%;
    width: fit-content;
    
    
  }

}

@media screen and (max-width: 980px) {
  #hero-section {
    width: 100%;
    height: 35em;
    overflow: hidden;
    position: relative;
  }

  #tour-hero {
    width: 100%;
    height: 35em;
    overflow: hidden;
    position: relative;
  }

  #hero-image {
    background: url("../images/hero.jpg") no-repeat center center/cover;
    width: 100%;
    height: 35em;

    animation-name: hero-move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 0;
  }

  #tour-hero-image {
    background: url("../images/hero.jpg") no-repeat center center/cover;
    width: 100%;
    height: 35em;

    animation-name: hero-move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 0;
  }

  #hero-text {
    font-size: 70%;
    width: 80%;
    height: 40%;
    top: 40px;
    right: 10%;
    left: 10%;
  }

  #tour-hero-text {
    font-size: 70%;
    width: 80%;
    height: 40%;
    top: 40px;
    right: 10%;
    left: 10%;
  }

  #teacher-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .teacher-card {
    width: 80%;
    margin-bottom: 20px;
  }

  #teacher1,
  #teacher3 {
    transform: rotate(0deg);
  }

  .two-cards {
    flex-direction: column;
    width: 100%;
  }

  .flashcard {
    width: 80%;
  }

  .about-container {
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }

  .right-about,
  .left-about {
    width: 100%;
  }

  #about-section {
    margin: 0 auto;
    padding: 0;
  }

  #logo {
    font-size: 1em;
  }

  #menu {
    position: relative;
  }

  #menu ul {
    flex-direction: column;
    justify-content: space-evenly;
    height: 160px;
    /* display: none; */
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 999;
    background-color: var(--color-1);
    /* visibility: hidden; */
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }

  nav label {
    display: flex;
    position: absolute;
    top: 15px;
    right: 26px;
    transform: scale(1.2);
    width: 34px;
    height: 44px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  nav span,
  nav span::after,
  nav span::before {
    display: block;
    position: relative;
    transition: all 300ms ease-in-out;
  }

  #check:checked ~ ul {
    transform: scale(1, 1);
  }

  #check:checked ~ label span {
    background-color: transparent;
  }

  #check:checked ~ label span::before {
    /* top: 0; */
    transform: translate(4px, 5px) rotate(45deg);
  }

  #check:checked ~ label span::after {
    top: 0;
    transform: translate(4px, -4px) rotate(-45deg);
  }

  #contact-form-section {
      height: 100%;
      min-height: 80vh;
  }

  #contact-form-section form {
      font-size: 70%;
      width: 95%;
      margin: 5px auto;
      /* height: fit-content; */
      
    }

    .input-field label,
    .checkbox-field label {
        font-size: 150%;
    }
  
}
