@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rock+Salt&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: whitesmoke;
  height: 70px;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

#menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#menu li {
  margin: 0 20px;
}

#menu a {
  text-decoration: none;
}

#logo {
  margin-left: 30px;
  font-family: 'Rock Salt', cursive;
  text-decoration: none;
  font-size: xx-large;
}

/* hero */

#hero-section {
    width: 100%;
    height: 50em;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background: url("../images/hero.jpg") no-repeat center center/cover;
    width: 100%;
    height: 50em;
    
    animation-name: hero-move;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 0;
}

@keyframes hero-move {
    from{
        background-position: center top;
    }
    to{
        background-position: center center;
    }
}

#hero-text {
    font-size: 130%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 30%;
    height: 13em;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, .5);

    top: 30px;
    right: 150px;
    border-radius: 10px;
    position: absolute;
    animation-name: hero-text-appear;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

#hero-text a {
    color: white;
    font-size: 200%;
}

#hero-text i {
    margin-top: 40px;

    animation-name: glowing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes glowing {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .3;
    }
    100%{
        opacity: 1;
    }
}

@keyframes hero-text-appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* About us section */

#about-section {
    width: 100%;
    height: 50em;
    overflow: hidden;
    position: relative;
    margin: 10px;
}

#about-section h2 {
    text-align: center;
}

#about-section img {
    
    height: 40em;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
}

.about-container {
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.left-about {
    width: 33%;

}

.right-about {
    width: 66%;
    text-align: center;
    line-height: 2;
}