@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Rock+Salt&display=swap");

:root {
  --color-1: #a99a45ff;
  --color-2: #f95e4eff;
  --color-3: #b6b6aeff;
  --color-4: #7e2412ff;
  --font-1: "Rock Salt", cursive;
  --font-2: "Raleway", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background-color: var(--color-3);
  overflow-x: hidden;
  text-align: center;
  width: 100%;
}

.main-container {
  max-width: 1700px;
  margin: 0 auto;
}

/* Menu */

header {
    width: 100%;
}

nav input, nav label {
    display: none;
}

nav span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    position: relative;
}

nav span::before,
nav span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: black;
}

nav span::before {
    top: -6px;
}

nav span::after {
    top: 3px;
}

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-1);
  height: 70px;
  align-items: center;
  font-family: var(--font-2);
  font-weight: bolder;
  width: 100%;
}

#menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#menu li {
  margin: 0 20px;
  transition: transform 300ms ease-in-out;
}

#menu a {
  text-decoration: none;
  color: #000;
}

#menu li:hover {
  transform: scale(1.1) rotate(5deg);
}

#logo {
  margin-left: 30px;
  font-family: var(--font-1);
  text-decoration: none;
  font-size: xx-large;
}

/* hero */

#hero-section {
  width: 100%;
  height: 50em;
  overflow: hidden;
  position: relative;
}

#hero-image {
  background: url("../images/hero.jpg") no-repeat center center/cover;
  width: 100%;
  height: 50em;

  animation-name: hero-move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 0;
}

@keyframes hero-move {
  from {
    background-position: center top;
  }
  to {
    background-position: center center;
  }
}

#hero-text {
  font-size: 130%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  width: 40%;
  height: 13em;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(0, 0, 0, 0.5);

  top: 40px;
  right: 150px;
  border-radius: 10px;
  position: absolute;
  animation-name: hero-text-appear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#hero-text h2 {
  font-family: var(--font-1);
  color: var(--color-1);
}

#hero-text h3 {
  font-family: var(--font-2);
}

.glow-button {
  margin: 40px;
  color: white;
  font-size: 200%;
  animation-name: glowing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes glowing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hero-text-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* About us section */

#about-section {
  width: 100%;
  /* height: 50em; */
  /* overflow: hidden; */
  /* position: relative; */
  margin: 10px;
  padding-top: 15px;
}

#about-section h2 {
  text-align: center;
  font-size: 200%;
  text-transform: uppercase;
  font-family: var(--font-1);
  color: whitesmoke;
}

#about-section img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.36);
}

.about-container {
  padding: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.left-about {
  width: 33%;
}

.right-about {
  width: 66%;
  text-align: center;
  line-height: 2;
  font-family: var(--font-2);
}

.right-about div h3 {
  font-size: 150%;
  text-transform: uppercase;
}

.right-about div {
  width: 90%;
  margin: 7% auto;
  transition: all 0.5s ease-in-out;
}

.right-about div:hover {
  transform: scale(1.05);
  background-color: rgba(7, 0, 0, 0.1);
  border-radius: 10px;
}

/* Teachers */

#teachers {
  text-align: center;
  width: 100%;
  /* margin: 10px; */
  padding-top: 15px;
}

#teachers h2 {
  font-size: 250%;
  margin: 30px;
  font-family: var(--font-1);
  color: #fff;
}

.teacher-card {
  display: inline-block;
  width: 22%;
  position: relative;
  background-color: var(--color-1);
  text-align: center;
  border-radius: 10px;
  font-family: var(--font-2);
  color: #000;
  margin-bottom: 100px;
  border: 1px solid white;
  box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.36);
}

.teacher-card p {
  margin: 10px;
}
#teacher1 {
  transform: rotate(-30deg) translateY(20%) translateX(30%);
  z-index: 3;
  transition: all 1000ms ease-in-out;
}

#teacher2 {
  z-index: 2;
  transition: all 1000ms ease-in-out;
}

#teacher3 {
  transform: rotate(30deg) translateY(20%) translateX(-30%);
  z-index: 1;
  transition: all 1000ms ease-in-out;
}

.teacher-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

#teacher1:hover,
#teacher2:hover,
#teacher3:hover {
  z-index: 999;
  transform: rotate(0deg) scale(1.1);
  margin: 0 15%;
}

/* Flashcards */

#flashcards {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

#flashcards h2 {
  font-family: var(--font-1);
  font-size: 200%;
  color: #fff;
}

#flashcard-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.two-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.flashcard {
  width: 35%;
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.flashcard-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.36);
    transform: scale(0,0);
    transition: transform 0.5s ease-in-out;
}

.flashcard-content h3 {
    font-size: 250%;
    margin-top: 25%;
    margin-bottom: 10px;
    font-family: var(--font-2);
    color: white;
}

.flashcard:hover {
    transform: scale(1.1);
}

.flashcard:hover .flashcard-content {
    transform: scale(1,1);
}

.flashcard img {
  width: 100%;
}

.flashcard audio {
  width: 80%;
}

/* Footer */

footer {
  height: 10em;
  background-color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}

footer p {
  color: white;
}

.social-networks {
  display: flex;
  list-style: none;
}

.social-networks li {
  display: block;
  position: relative;
  font-size: 230%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin: 0 20px;
}

.social-networks a {
  color: white;
}

.social-networks i {
  transition: all 200ms ease-in-out;
}

.social-networks i:hover {
  color: white;
  transform: scale(1.2) rotate(4deg);
}

@media screen and (max-width: 1470px) {
  .left-about {
    width: 40%;
  }

  .right-about {
    width: 60%;

    line-height: 1.5;
  }

  #flashcard-container {
      flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .left-about {
    width: 50%;
  }

  .right-about {
    width: 50%;
    line-height: 1.5;
  }

  #hero-text {
    font-size: 90%; 
    width: 50%;
    height: 15em;
  
    padding-top: 40px;
    padding-left: 10px;  
    
  }
  
}

@media screen and (max-width: 1080px) {
  .about-container {
    flex-direction: column-reverse;
  }
  .left-about {
    width: 100%;
  }

  .right-about {
    width: 100%;
    line-height: 1.5;
  }
}


@media screen and (max-width: 980px) {

    #hero-section {
        width: 100%;
        height: 35em;
        overflow: hidden;
        position: relative;
      }
      
      #hero-image {
        background: url("../images/hero.jpg") no-repeat center center/cover;
        width: 100%;
        height: 35em;
      
        animation-name: hero-move;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        position: absolute;
        left: 0;
      }

    #hero-text {
        font-size: 70%;
        width: 80%;
        height: 40%;
        top: 40px;
        right: 10%;
        left: 10%;
      }
    
    #teacher-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .teacher-card {
        width: 80%;
        margin-bottom: 20px;
    }

    #teacher1, #teacher3 {
        transform: rotate(0deg);
    }

    .two-cards {
        flex-direction: column;
        width: 100%;
    }

    .flashcard {
        width: 80%;
    }

    .about-container {
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }

    .right-about, .left-about {
        width: 100%;
    }

    #about-section {
        margin: 0 auto;
        padding: 0;
    }
    
    #logo {
        font-size: 1em;
    }

    #menu {
        position: relative;
    }

    #menu ul {
        flex-direction: column;
        justify-content: space-evenly;
        height: 160px;
        /* display: none; */
        position: absolute;
        top: 70px;
        right: 0;
        z-index: 999;
        background-color: var(--color-1);
        /* visibility: hidden; */
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }

    nav label {
        display: flex;
        position: absolute;
        top: 15px;
        right: 26px;
        transform: scale(1.2);
        width: 34px;
        height: 44px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    nav span, nav span::after, nav span::before {
        display: block;
        position:relative;
        transition: all 300ms ease-in-out;
    }
    
    #check:checked ~ ul {
        transform: scale(1,1);
    }
    
    #check:checked ~ label span {
        background-color: transparent;
    }

    #check:checked ~ label span::before {
        /* top: 0; */
        transform: translate(4px, 5px) rotate(45deg);
    }

    #check:checked ~ label span::after {
        top: 0;
        transform: translate(4px, -4px) rotate(-45deg);
    }
}